/* Global styles */
body {
    background-color: #f4f7f6;
}

/* Admin Layout */
#admin-layout {
    display: flex;
    min-height: 100vh;
}

#sidebar {
    width: 260px;
    background-color: #343a40;
    /* Dark bg for sidebar */
    color: #fff;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
}

#main-content-wrapper {
    margin-left: 260px;
    /* Same as sidebar width */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#main-content {
    background-color: #fff;
    flex-grow: 1;
}

/* Vue Good Table overrides */
.vgt-table {
    font-size: 0.9rem;
    border: 1px solid #dee2e6 !important;

    th {
        background: #f8f9fa !important;
        color: #495057 !important;
        font-weight: 600;
    }
}